{% extends 'base.html.twig' %}

{% block title %}Hello EditorController!{% endblock %}

{% block body %}
<section class="container px-4">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>C:/wamp64/www/biblios/src/Controller/Admin/EditorController.php</code></li>
        <li>Your template at <code>C:/wamp64/www/biblios/templates/admin/editor/index.html.twig</code></li>
    </ul>
</section>
{% endblock %}
